
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-
EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
crossorigin="anonymous">

<div>
    {% extends "base.html" %}
    {% load static %}
    {% block metadescription %}
    {{ product.description|truncatewords:155 }}
    {% endblock %}
    {% block title %}
    {{ product.name }} - P2W
    {% endblock %}
    {% block content %}
    <div class="d-flex flex-wrap justify-content-md-center">
        
        <h3><a href="{% url 'shop:allProdCat' %}">Home</a> | <a href="{{ product.category.get_url }}">{{product.category}}</a> | {{product.name}}</h3>
    </div>
    <div class="d-flex flex-wrap justify-content-md-center border m-3 pb-5">
        <br>
        <div>
            <div>
                <h1 class="bg-info text-center p-3 ">{{product.name}}</h1>
                <div class="d-inline-flex m-5">
                    <img src="{{product.image.url}}" alt="{{product.name}}">
                    <h4 class="m-2">{{product.description}}</h4>
                    
                </div>
            </div>
            <div >
                <div class="-5">
                
                    <p>£{{product.price}}</p>
                    
                    {% if product.stock == 0%}
                        <p><b>Out of Stock Currently</b></p>
                    {% else %}
                        <a class="btn-info p-3 " href="">Add to Cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}