{% load static %}
<header>
    <div style="text-align: center;">
        <a href = "{% url 'shop:allProdCat' %}"><img src="{% static 'images/newlogo.png' %}" alt="Mac'n'Dean Logo"></a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info p-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">P2W GameStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" 
    id="navbarSupportedContent">
              {% if user.is_authenticated %}
              <ul class="nav navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <button class="btn border btn-default text-success "><a href="{% url 'logout' %}">Log Out</a></button>
                    <button class="btn border btn-default text-success "><a href="{% url 'password_change'%}">Change Password</a></button>
                
                </li>
            </ul>
            {% else %}
            <form class="form-inline ml-auto">
                <a href="{% url 'login' %}" class="btn btn-outline-secondary">
                    Log In</a>
                    <a href="{% url 'signup' %}" class="btn btn-primary ml-2">
                        Sign up</a>
                    </form>
                  {% endif %}
                </div>
            </nav>
</header>

